:root {
    --code-bg: #36383d;
    --code-fg: #ffffff;
}

:root,
[data-theme="dark"] {
    --main-bg: #1b1f26;
    --text-color: #fff;
    --muted-text-color: #b3b3b3;
    --input-bg: #2b303b;
    --input-bg-hover: #3b404b;
    --meta-bg: #525262;
    --divider-color: #42464e;
    --link-color: #92adff;
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) {
        --main-bg: #dbdbdb;
        --text-color: #000;
        --muted-text-color: #636363;
        --input-bg: #bcbcbc;
        --input-bg-hover: #a8a8a8;
        --meta-bg: #aaa8a8;
        --divider-color: #b5b5b5;
        --link-color: #335ad0;
    }
}

[data-theme="light"] {
    --main-bg: #dbdbdb;
    --text-color: #000;
    --muted-text-color: #636363;
    --input-bg: #bcbcbc;
    --input-bg-hover: #a8a8a8;
    --meta-bg: #aaa8a8;
    --divider-color: #b5b5b5;
    --link-color: #335ad0;
}

a {
    color: var(--link-color);
    word-wrap: break-word;
}

html {
    margin: auto;
    max-width: 40rem;
}

@media only screen and (max-width: calc(40rem + 2rem)) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

body {
    background-color: var(--main-bg);
    color: var(--text-color);
    font-family: sans-serif;

    margin: 0;
}

.icon {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    min-height: 2rem;
    cursor: pointer;
}

.icon img {
    background: white;
    border-radius: 50%;
    padding: 0.25rem;
}

details {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.fw-nowrap {
    flex-wrap: nowrap;
}
