body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    background-color: var(--main-bg);
    color: var(--text-color);
    font-family: sans-serif;

    display: flex;
    justify-content: center;

    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;

    box-sizing: border-box;
}

.parent {
    max-width: 90%;
    width: fit-content;
}

.header {
    display: flex;
    justify-content: space-between;
}

code {
    background-color: var(--code-bg);
    padding: 0.15rem;
    border-radius: 5px;
    color: white;
}

pre {
    background-color: var(--code-bg);
    padding: 1rem;
    border-radius: 5px;
    color: var(--text-color);
    overflow-x: auto;
    line-height: 1.35;
}

.timestamp {
    color: var(--muted-text-color);
    font-size: 0.8rem;
}

.post-divider, .answer-divider {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.answer-divider {
    border: 0;
    height: 1px;
    background-color: var(--divider-color);
}

img {
    max-width: 100%;
}

.answer-meta {
    border-radius: 5px;
    padding: 1rem;
    color: black;
    margin-bottom: 1rem;
    background-color: var(--meta-bg);
    color: var(--text-color);
}

.answer-meta.accepted {
    background-color: #8cffc0 !important;
    color: black !important;
}

.answer-author-parent {
    display: flex;
    justify-content: flex-end;
}

.answer-author {
    width: fit-content;
    background-color: var(--meta-bg);
    padding: 0.5rem;
    border-radius: 5px;
    text-align: right;
    font-size: 0.8rem;
}

.logo-link {
    text-decoration: none;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.comments-parent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.comment-parent {
    cursor: text;
}

.comment-body {
    font-size: 0.95rem;
}

.comment-author {
    color: var(--muted-text-color);
    font-size: 0.8rem;
}

.s-notice {
    background-color: var(--meta-bg);
    padding: 1rem;
    border-radius: 5px;
    color: var(--text-color);
    margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
