<!DOCTYPE html>
<html data-theme="{{ .theme }}">
    <head>
        <title>{{ .question.Title }}</title>
        <link rel="stylesheet" href="/static/question.css" />
        <link rel="stylesheet" href="/static/syntax.css" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'none'; style-src 'self'; script-src 'none'; img-src {{ .imagePolicy }};"
        />
        <meta name="description" content="{{ .question.ShortenedBody }}..." />
        {{ template "sharedHead.html" }}
    </head>
    <body>
        <div class="parent">
            <div class="header">
                <a href="/" class="logo-link">
                    <img
                        class="logo"
                        src="/static/codecircles.png"
                        alt="4 circles with alternating colors between green and white"
                    />
                </a>
                {{ template "themeSwitcher.html" . }}
            </div>
            <div class="card">
                <div class="card-header">
                    <h1>{{ .question.Title }}</h1>
                    <p class="timestamp">
                        Asked {{ .question.Timestamp }} by
                        <a
                            href="https://stackoverflow.com{{ .question.AuthorURL }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            >{{ .question.AuthorName }}</a
                        >.
                    </p>
                </div>
                <div class="card-body">{{ .question.Body }}</div>
                {{ if .question.Comments }}
                    {{ template "comments.html" .question }}
                {{end}}

            </div>
            <hr class="post-divider" />
            <h2>Answers</h2>
            {{ range $answer := .answers }}
            <div class="answer">
                <div
                    class="answer-meta{{ if $answer.IsAccepted }} accepted{{end}}"
                >
                    {{ if $answer.IsAccepted }} Accepted - {{ end }}
                    {{$answer.Upvotes}} Votes
                </div>
                {{ $answer.Body }}
                <div class="answer-author-parent">
                    <div class="answer-author">
                        Answered {{ $answer.Timestamp }} by
                        <a
                            href="https://stackoverflow.com{{ $answer.AuthorURL }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            >{{ $answer.AuthorName }}</a
                        >
                    </div>
                </div>
                {{ if $answer.Comments }}
                    {{ template "comments.html" $answer }}
                {{end}}
            </div>
            <hr class="answer-divider" />
            {{ end }}
        </div>
    </body>
</html>
