<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
        <link rel="stylesheet" href="/static/question.css" />
        <link rel="stylesheet" href="/static/globals.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'none'; style-src 'self'; script-src 'none'; img-src https:;"
        />
    </head>
    <body>
        <div class="parent">
            <div class="card">
                <div class="card-header">
                    <h1>{{ .title }}</h1>
                    <p class="timestamp">
                        Asked {{ .timestamp }} by
                        <a href="{{ .authorURL }}" target="_blank" rel="noopener noreferrer">{{ .author }}</a>.
                    </p>
                </div>
                <div class="card-body">{{ .body }}</div>
            </div>
            <hr />
            <h2>Answers</h2>
            {{ range $answer := .answers }}
                <div class="answer">{{ $answer }}</div>
                <hr class="answer-divider" />
            {{ end }}
        </div>
    </body>
</html>
