<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
        <link rel="stylesheet" href="/static/question.css" />
    </head>
    <body>
        <div class="parent">
            <div class="card">
                <div class="card-header">
                    <h1>{{ .title }}</h1>
                    <p class="timestamp">
                        Asked {{ .timestamp }} by
                        <a href="{{ .authorURL }}">{{ .author }}</a>.
                    </p>
                </div>
                <div class="card-body">{{ .body }}</div>
            </div>
            <hr />
            <h2>Answers</h2>
            {{ range $answer := .answers }}
            <div class="answer">{{ $answer }}</div>
            <hr class="answer-divider" />
            {{ end }}
        </div>
    </body>
</html>
